body {
    background-image: url("../asset/fern.jpg");
    background-position: cover;
    background-repeat: no-repeat;
}

header {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    color: cornsilk;
    text-align: center;
    margin: 0 auto;
    font: 400 2.9rem 'Xanh Mono', monospace;
}
.header__img {
    text-align: center;
}
.header__img img {
    width: 40%;
    border-radius: 30px;
    margin-bottom: 46px;
}
